body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
canvas { width: 100%; height: 100% }
#blocker{
	display:block;
}

.sidebar {

	box-shadow: 1px 1px 5px grey;
  height: 100%;
  width:250px;
  background-color: white;
  overflow-y: scroll;
  position:absolute;
}
#blocker{
  display: flex;
  flex-direction: column;
  cursor:pointer;
  align-items: center;
}

.icon{
	height:30px;
	width:30px;

}
.menu{
	font-size:12px;
}
.transition{
	 -webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
#open{
	box-shadow: 1px 1px 5px grey;
	padding:1px;
  margin-left:250px;
  border-radius: 0px 5px 5px 0px;
  background-color: white;
  overflow: hidden;
  position:absolute;
 
   display: none;
}
#close{
	box-shadow: 1px 1px 5px grey;
	padding:1px;
  margin-left:250px;
  border-radius: 0px 5px 5px 0px;
  background-color: white;
  overflow: hidden;
  position:absolute;
 
 
}
#arrow{
	font-size: 60px;

	margin-bottom:20px;
	padding:0;
	color:grey;
	cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.button{
  margin-left: 350px;
}
.bu{
  border: none;
 color: white;
  background-color: #66000e;
  padding: 10px;
  margin-left: 5px;
  margin-top: -500px !important;
}
.unlock_button{
  background-color: white;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right:50px;
  box-shadow: 1px 1px 1px grey;
  border:1px solid grey;
  border-radius: 5px;
  padding:7px;
  display: none;
}
.unlock_button img{
  width:20px;
}
.container_block{
  display: flex;
  flex-direction: column;
}
.horizontal_container{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.item{
  margin:5px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor:pointer;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius:5px;
  padding:3px;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.item:hover{
  opacity:0.8;
}
.item p{
  margin:0;
  padding:0;
}
.item img{
  width:100px;
  height:100px;
}
.heading_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0px 9px;
}
.hover_add{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}
.item:hover .hover_add{
  opacity:1;
}
.hover_icon{
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.heading_container{
  padding:5px 10px !important;
}
.heading_container h6 {
  padding:0px !important;
  margin:0px !important;
  transition: all 0.5s ease-in-out;
}
.heading_container:hover{
  background-color: #eeeeee;
}
.horizontal_line{
  height:2px;
  width:95%;     
  padding:0px;
  margin:0px auto;
}
.adjust_container{
  display: none;
  border:1px solid #dddddd;
  border-radius: 7px;
  margin:5px 10px;
  padding:0px 0px 10px 0px;
}

.adjust_heading{
  background-color: #eeeeee;
  padding:5px;
  border-radius: 7px 7px 0px 0px;
}
.text_box{
  padding:0px 10px 10px 10px;

}
.text_box input{
  width:100%;
  border-radius:10px;
  padding:2px 0px 2px 8px;
  border:1px solid #dddddd;
}
.text_box p{
  margin:0px !important;
}

.remove_button{
  display:block;
  text-align:center;
  transition:all 0.2s ease-in-out;
}
.remove_button:hover{
  opacity:0.8;
}
.remove_button button{
  color:white;
  border-radius: 10px;
  background-color: crimson;
  width:92%;
  border:none;
  padding:5px 0px;
}
.texture_container{
  display: none;
  border:1px solid #dddddd;
  border-radius: 7px;
  margin:5px 10px;
  padding:0px 0px 10px 0px;
}
.texture_container img{
  width:100px;
  margin:5px;
  transition: all 0.2s ease-in-out;
}
.texture_container img:hover{
  width:90px
}
.edit_container{
  display:block;
  width:100%;
  text-align:center;
  margin-top:20px;
  padding:10px 0px;
  border:none;
  background-color: dodgerblue;
  color:white;
  transition:all 0.2s ease-in-out;
}

.edit_container:hover{
  cursor: pointer;
  font-size:13px;
}

.transform_container{
  display:block;
  width:100%;
  text-align:center;
  padding:10px 0px;
  border:none;
  background-color: green;
  color:white;
  transition:all 0.2s ease-in-out;
}
.transform_container:hover{
  cursor: pointer;
  font-size:13px;
}
.export_model{
  display:block;
  width:100%;
  text-align:center;
  margin-top:0px;
  padding:10px 0px;
  border:none;
  background-color: orange;
  color:white;
  transition:all 0.2s ease-in-out;
}
.export_model:hover{
  cursor: pointer;
  font-size:13px;
}
.debuging_container{
  display:block;
  width:100%;
  text-align:center;
  margin-top:20px;
}
.debuging_container button{
   font-size:12px;
  padding:5px 20px;
  border:none;
  color:white;
  border-radius:5px;
  transition:all 0.2s ease-in-out;
}
.debuging_container button:hover{
  font-size:13px;
}
.debug_panel{
  border:1px solid #dddddd;
  border-radius: 7px;
  width:100%;
  height:300px;
  overflow-y: scroll;
}
.debug_panel img{
  width:100%;
}
.modal-dialog{
  width:50% !important;
}

#horizon{
  display: none:;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}